<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Edit Item</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="CloseEditDialog()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="EditItem()">
      <div class="list">
        <label class="item item-input item-floating-label">
          <span class="input-label">Title</span>
          <input type="text" placeholder="Title" ng-model="ItemToEdit.title">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Category</span>
          <input type="text" placeholder="Category" ng-model="ItemToEdit.category">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Submit</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
